.page {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.main {
    grid-column-start: 1;
    grid-column-end: 9;
}

.cartWrapper {
    grid-column-start: 10;
    grid-column-end: 13;
}
